---
import { NavItem } from "lib/interfaces"

const { locales, navItems, title } = Astro.props as {
  navItems: NavItem[]
  title: string
  locales: string[]
}
---

<nav class="nav">
  <div class="nav nav--front">
    <div class="hamburger" onclick="toggleMenu()">
      <span class="screen-reader-text">Main Menu</span>
      <div id="menu-button" class="hamburger__icon"></div>
    </div>
    <div id="menu-container" class="nav__inactive">
      <ul>
        {navItems.map(item =>
          <li>
            <a
              href={`/${locales[0] && locales[0] + "/"}${item.url}`}
              data-fill={item.label.toUpperCase()}
            >
              {item.label.toUpperCase()}
            </a>
          </li>
        )}
      </ul>
      <div class="nav__title-container">
        <p class="nav__title">
          {title.toUpperCase()}
        </p>
      </div>
    </div>
  </div>
</nav>
