---
import { Label, NavItem } from "lib/interfaces"

const { labels, locales, navItems } = Astro.props as {
  labels: Label[]
  locales: string[]
  navItems: NavItem[]
}
---

<header>
  <nav>
    <div class="nav">
      <button class="hamburger" onclick="toggleMenu()">
        <span class="sr-only absolute">{labels[1].text}</span>
        <div id="menu-button" class="hamburger__icon relative"></div>
      </button>
    </div>
    <div id="menu-container" class="nav__active">
      <ul class="nav__list">
        {navItems.map(item =>
          <li class="">
            <a
              href={`/${locales[0] && locales[0] + "/"}${item.url}`}
              data-fill={item.label.toUpperCase()}
              class="nav__link"
            >
              {item.label.toUpperCase()}
            </a>
          </li>
        )}
      </ul>
    </div>
  </nav>
</header>
