// colors

$grey-000: hsl(0,0%,100%);
$grey-050: hsl(0,0%, 95%);
$grey-100: hsl(0,0%, 90%);
$grey-150: hsl(0,0%, 85%);
$grey-200: hsl(0,0%, 80%);
$grey-250: hsl(0,0%, 75%);
$grey-300: hsl(0,0%, 70%);
$grey-350: hsl(0,0%, 65%);
$grey-400: hsl(0,0%, 60%);
$grey-450: hsl(0,0%, 55%);
$grey-500: hsl(0,0%, 50%);
$grey-550: hsl(0,0%, 45%);
$grey-600: hsl(0,0%, 40%);
$grey-650: hsl(0,0%, 35%);
$grey-700: hsl(0,0%, 30%);
$grey-750: hsl(0,0%, 25%);
$grey-800: hsl(0,0%, 20%);
$grey-850: hsl(0,0%, 15%);
$grey-900: hsl(0,0%, 10%);
$grey-950: hsl(0,0%, 05%);

$sepia-000: hsl(46,22%,100%);
$sepia-050: hsl(46,22%, 95%);
$sepia-100: hsl(46,22%, 90%);
$sepia-150: hsl(46,22%, 85%);
$sepia-200: hsl(46,22%, 80%);
$sepia-250: hsl(46,22%, 75%);
$sepia-300: hsl(46,22%, 70%);
$sepia-350: hsl(46,22%, 65%);
$sepia-400: hsl(46,22%, 60%);
$sepia-450: hsl(46,22%, 55%);
$sepia-500: hsl(46,22%, 50%);
$sepia-550: hsl(46,22%, 45%);
$sepia-600: hsl(46,22%, 40%);
$sepia-650: hsl(46,22%, 35%);
$sepia-700: hsl(46,22%, 30%);
$sepia-750: hsl(46,22%, 25%);
$sepia-800: hsl(46,22%, 20%);
$sepia-850: hsl(46,22%, 15%);
$sepia-900: hsl(46,22%, 10%);
$sepia-950: hsl(46,22%, 05%);

$slate-000: hsl(30,11%,100%);
$slate-050: hsl(30,11%, 95%);
$slate-100: hsl(30,11%, 90%);
$slate-150: hsl(30,11%, 85%);
$slate-200: hsl(30,11%, 80%);
$slate-250: hsl(30,11%, 75%);
$slate-300: hsl(30,11%, 70%);
$slate-350: hsl(30,11%, 65%);
$slate-400: hsl(30,11%, 60%);
$slate-450: hsl(30,11%, 55%);
$slate-500: hsl(30,11%, 50%);
$slate-550: hsl(30,11%, 45%);
$slate-600: hsl(30,11%, 40%);
$slate-650: hsl(30,11%, 35%);
$slate-700: hsl(30,11%, 30%);
$slate-750: hsl(30,11%, 25%);
$slate-800: hsl(30,11%, 20%);
$slate-850: hsl(30,11%, 15%);
$slate-900: hsl(30,11%, 10%);
$slate-950: hsl(30,11%, 05%);
