@use 'colors' as c;

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.transparent {
  color: transparent;
}

.no-underline {
  text-decoration: none;
}

.outline:focus {
  outline: 4px dashed rgba(c.$sepia-150, 0.5);
}

// https://webaim.org/techniques/css/invisiblecontent/
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
