@use '../base/colors' as c;
@use '../base/breakpoints' as b;

::selection {
  background: rgba(c.$grey-100, 0.3);
}

.header {
  z-index: 10;
}

.icon {
  font-size: 5px;
  z-index: 3;
  width: 85%;
  max-width: 1350px;
  margin-top: 9em;
  margin-inline: auto;
  @include b.mq(lg) {
    font-size: 5.5px;
    margin-top: 7em;
  }
  @include b.mq(sm) {
    font-size: 5px;
    margin-top: 5.5em;
  }
}

.icon__btn {
  z-index: 3;
  font-size: 5px;
  display: grid;
  cursor: pointer;
  height: 5.8em;
  width: 8em;
  margin-left: auto;
  opacity: 0.5;
  transition: opacity 0.3s;
  background: transparent;
  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.3s;
    outline: none;
  }
}

.icon__lines {
  position: relative;
  font-size: 6px;
  width: 8em;
  height: 0.4em;
  margin: 2.6em 0 3em;
  background-color: rgba(c.$grey-850, 1);
  transition: background-color 0s;
  transition-delay: 0.5s;
  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    background: c.$grey-850;
    width: 8em;
    height: 0.4em;
    transform: rotate(0);
    transition: transform 0.5s, top 0.5s;
    transition-delay: 0s, 0.5s;
    transition-property: transform, top;
  }
  &::before {
    top: -2.3em;
  }
  &::after {
    top: 2.3em;
  }
  @include b.mq(lg) {
    font-size: 5.5px;
  }
  @include b.mq(sm) {
    font-size: 5px;
  }
}

.icon__lines--active {
  position: sticky;
  background-color: rgba(c.$sepia-150, 0);
  transition: background-color 0s;
  transition-delay: 0.5s;
  &::before,
  &::after {
    top: 0;
    transition: top 0.5s, transform 0.5s;
    transition-delay: 0s, 0.5s;
    transition-property: top, transform;
  }
  &::before {
    transform: rotate(0.125turn);
  }
  &::after {
    transform: rotate(-0.125turn);
  }
}

.nav {
  margin-right: 5em;
  z-index: -2;
  background: rgba(c.$grey-000, 0.9);
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  @include b.mq(lg) {
    margin-right: 5em;
  }
  @include b.mq(sm) {
    margin-right: 5.4em;
  }
}

.nav__inactive {
  visibility: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 1s, visibility 0s;
  transition-delay: 0s, 1s;
  transition-property: clip-path, visibility;
  transition-timing-function: ease-out;
}

.nav__active {
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 1s ease-in;
}

.nav__list {
  width: 85%;
  max-width: 1368px;
  margin-inline: auto;
  margin-top: 2.4em;
  font-size: 6rem;
  font-weight: 500;
  text-align: right;
  @include b.mq(lg) {
    font-size: 5.5rem;
  }
  @include b.mq(sm) {
    font-size: 5rem;
    margin-top: 1.9em;
  }
}

.nav__item--padded {
  margin-top: 3rem;
}

.nav__link {
  color: c.$grey-850;
  margin: auto;
  opacity: 0.5;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.3s;
    text-decoration: none;
    outline: none;
  }
}

.nav__link--small {
  font-size: 3.5rem;
}

.active--exact {
  color: c.$grey-850;
  opacity: 1;
  &:hover {
    opacity: 1;
    cursor: default;
  }
}
