---
import sanityClient from "lib/sanityClient"
import Layout from "layouts/FrontLayout.astro"
import { indexQuery } from "lib/queries"
import { Navigation, Settings } from "lib/interfaces"

type Locale = "en" | "pl";

export async function getStaticPaths() {
  const data: {
    navigation: Navigation[]
    settings: Settings
  } = await sanityClient.fetch(indexQuery).then(response => response)
  const { navigation, settings } = data
  const locales = ["en", "pl"] as Locale[]
  return locales.map(locale => {
    const localeSlug = locale === "en" ? undefined : locale
    return {
      params: { lang: localeSlug },
      props: { locale, navigation, settings }
    }
  })
}

const { locale, navigation, settings } = Astro.props as {
  locale: Locale
  navigation: Navigation[]
  settings: Settings
}
---

<Layout
  locale={locale}
  navigation={navigation}
  settings={settings}
>
  <main>
    {locale === "en" ? settings.title.en : settings.title.pl}
  </main>
</Layout>
