@use 'scss/normalize';
@use 'scss/typography' as t;
@use 'scss/colors' as c;
@use 'scss/breakpoints' as b;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: t.$stack;
  color: c.$grey-000;
  background: c.$grey-950;
}

#site-main {
  padding: 3.125rem;
  @media (max-width: 991px) {
    padding: 0;
  }
}

p,
div {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
}

a {
  color: c.$grey-950;
  text-decoration: none;
}

.container-fluid {
  padding-left: 0.325rem;
  padding-right: 0.325rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include b.mq(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include b.mq(lg) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.col-lg-8 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 992px) {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
  }
}
