---
import { Navigation, Settings } from "lib/interfaces"

export interface Props {
  locale: string
  settings?: Settings
  navigation?: Navigation[]
}

const { locale, navigation, settings } = Astro.props as Props
const localeSlug = `${locale === "en" ? "" : "/" + locale}`
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{locale === "en" ? settings.title.en : settings.title.pl}</title>
</head>
<nav>
  <ul>
    {navigation.map(item =>
      <a href={`
        ${localeSlug}/${locale === "en" ? item.slug.en : item.slug.pl}
      `}>
        <li>{locale === "en" ? item.slug.en : item.slug.pl}</li>
      </a>
    )}
    <a href={
      `/${locale === "en" ? "pl" : ""}`
    }>
      <li>{locale === "en" ? "pl" : "en"}</li>
    </a>
  </ul>
</nav>
<body>
  <slot />
</body>
</html>
